In [1]:
import pandas as pd
newpd = pd.DataFrame(columns=['Id', 'Target'])
trainlabels = pd.read_csv('./data/train.csv')
trainlabels.head()

/home/yanyu/anaconda2/envs/tensorflow/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/yanyu/anaconda2/envs/tensorflow/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

                                     Id   Target
0  00070df0-bbc3-11e8-b2bc-ac1f6b6435d0     16 0
1  000a6c98-bb9b-11e8-b2b9-ac1f6b6435d0  7 1 2 0
2  000a9596-bbc4-11e8-b2bc-ac1f6b6435d0        5
3  000c99ba-bba4-11e8-b2b9-ac1f6b6435d0        1
4  001838f8-bbca-11e8-b2bc-ac1f6b6435d0       18

In [2]:
trainlabels.shape[0]
trainlabels1 = trainlabels.copy()

In [3]:
label_names = {
    0:  "Nucleoplasm",  
    1:  "Nuclear membrane",   
    2:  "Nucleoli",   
    3:  "Nucleoli fibrillar center",   
    4:  "Nuclear speckles",
    5:  "Nuclear bodies",   
    6:  "Endoplasmic reticulum",   
    7:  "Golgi apparatus",   
    8:  "Peroxisomes",   
    9:  "Endosomes",   
    10:  "Lysosomes",   
    11:  "Intermediate filaments",   
    12:  "Actin filaments",   
    13:  "Focal adhesion sites",   
    14:  "Microtubules",   
    15:  "Microtubule ends",   
    16:  "Cytokinetic bridge",   
    17:  "Mitotic spindle",   
    18:  "Microtubule organizing center",   
    19:  "Centrosome",   
    20:  "Lipid droplets",   
    21:  "Plasma membrane",   
    22:  "Cell junctions",   
    23:  "Mitochondria",   
    24:  "Aggresome",   
    25:  "Cytosol",   
    26:  "Cytoplasmic bodies",   
    27:  "Rods & rings"
}

reverse_train_labels = dict((v,k) for k,v in label_names.items())

def fill_targets(row):
    tmp = np.array(row.Target.split(" ")).astype(np.int)
    for num in tmp:
        name = label_names[int(num)]
        row.loc[name] = 1
    return row

In [4]:
for key in label_names.keys():
    trainlabels[label_names[key]] = 0
import numpy as np
newtrainlabels = trainlabels.apply(fill_targets, axis=1)
newtrainlabels.head()

,Id,Target,Nucleoplasm,Nuclear membrane,Nucleoli,Nucleoli fibrillar center,Nuclear speckles,Nuclear bodies,Endoplasmic reticulum,Golgi apparatus,...,Microtubule organizing center,Centrosome,Lipid droplets,Plasma membrane,Cell junctions,Mitochondria,Aggresome,Cytosol,Cytoplasmic bodies,Rods & rings
0,00070df0-bbc3-11e8-b2bc-ac1f6b6435d0,16 0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,000a6c98-bb9b-11e8-b2b9-ac1f6b6435d0,7 1 2 0,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,000a9596-bbc4-11e8-b2bc-ac1f6b6435d0,5,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,000c99ba-bba4-11e8-b2b9-ac1f6b6435d0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,001838f8-bbca-11e8-b2bc-ac1f6b6435d0,18,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
def fill_targets1(row):
    tmp = np.array(row.Target.split(" ")).astype(np.int)
    for num in tmp:
#         name = label_names[int(num)]
        row.loc[num] = 1
    return row
for key in label_names.keys():
    trainlabels1[key] = 0
trainlabels1 = trainlabels1.apply(fill_targets1, axis=1)
trainlabels1.head()

,Id,Target,0,1,2,3,4,5,6,7,...,18,19,20,21,22,23,24,25,26,27
0,00070df0-bbc3-11e8-b2bc-ac1f6b6435d0,16 0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,000a6c98-bb9b-11e8-b2b9-ac1f6b6435d0,7 1 2 0,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,000a9596-bbc4-11e8-b2bc-ac1f6b6435d0,5,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,000c99ba-bba4-11e8-b2b9-ac1f6b6435d0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,001838f8-bbca-11e8-b2bc-ac1f6b6435d0,18,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns

target_counts = trainlabels1.drop(["Id", "Target"],axis=1).sum(axis=0)
# plt.figure(figsize=(15,15))
# sns.barplot(y=target_counts.index.values, x=target_counts.values, order=target_counts.index)
pd.DataFrame(dict(target_counts), index=['num']).T

      num
0   12885
1    1254
2    3621
3    1561
4    1858
5    2513
6    1008
7    2822
8      53
9      45
10     28
11   1093
12    688
13    537
14   1066
15     21
16    530
17    210
18    902
19   1482
20    172
21   3777
22    802
23   2965
24    322
25   8228
26    328
27     11

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

target_counts = newtrainlabels.drop(["Id", "Target"],axis=1).sum(axis=0).sort_values(ascending=False)
plt.figure(figsize=(15,15))
sns.barplot(y=target_counts.index.values, x=target_counts.values, order=target_counts.index)

In [ ]:
target_counts

In [ ]:
LIST = ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27']

In [ ]:
import os
import shutil
def find_func():
    if not os.path.exists('./data/new_data'):
        os.makedirs('./data/new_data')
    else: 
        shutil.rmtree('./data/new_data')
        os.makedirs('./data/new_data')
    for key,values in label_names.items():
        labels = newtrainlabels.set_index(values)
        img_id = labels.loc[1]
        new_pd = pd.DataFrame(columns=('Id', 'Target'))
#         print(img_id.Id)
#         print(img_id.Target)
#         print(pd.DataFrame({'Id':img_id.Id, 'Target':img_id.Target}))
        new_pd = new_pd.append(pd.DataFrame({'Id':img_id.Id, 'Target':img_id.Target}), ignore_index=True)
        new_pd.to_csv('./data/new_data/' + values, index=False)
        print(key, values, 'DONE!')
find_func()

In [ ]:
new_data = pd.DataFrame()
import random
len_list = []
for key,values in label_names.items():
    tmp_pd = pd.read_csv('./data/new_data/'+values)
    length = len(tmp_pd)
    len_list.append(length)
    print(length)
print('*'*30)
len_list.sort()
print(len_list)

In [ ]:
import math
import numpy as np
for key,values in label_names.items():
    tmp_pd = pd.read_csv('./data/new_data/'+values)
    length = len(tmp_pd)
    
    if length > 10000:
        index = math.ceil(length * 0.005)
        index = random.sample(range(length), index)
        pds = tmp_pd.iloc[index]
        new_data = new_data.append(tmp_pd.iloc[index], ignore_index = True)
    elif length <= 10000 and length > 5000:
        index = math.ceil(length * 0.01)
        index = random.sample(range(length), index)
#         print(index)
        new_data = new_data.append(tmp_pd.iloc[index], ignore_index = True)

    elif length <= 5000 and length > 2000:
        index = math.ceil(length * 0.015)
        index = random.sample(range(length), index)
#         print(index)
        new_data = new_data.append(tmp_pd.iloc[index], ignore_index = True)

    elif length <= 2000 and length > 1000:
        index = math.ceil(length * 0.05)
        index = random.sample(range(length), index)
#         print(index)
        new_data = new_data.append(tmp_pd.iloc[index], ignore_index = True)

    elif length <= 1000 and length > 300:
        index = math.ceil(length * 0.1)
        index = random.sample(range(length), index)
#         print(index)
        new_data = new_data.append(tmp_pd.iloc[index], ignore_index = True)

    elif length <= 300 and length > 100:
        index = math.ceil(length * 0.5)
        index = random.sample(range(length), index)
#         print(index)
        new_data = new_data.append(tmp_pd.iloc[index], ignore_index = True)

    elif length <= 100:
        index = length
        index = random.sample(range(length), index)
#         print(index)
        new_data = new_data.append(tmp_pd.iloc[index], ignore_index = True)

In [ ]:
new_data.to_csv('./data/new_data.csv', index=False)

In [ ]:
train_labels = pd.read_csv('./data/new_data.csv')
train_labels.head()

In [ ]:
train_labels.shape[0]

In [ ]:
for key in label_names.keys():
    train_labels[label_names[key]] = 0

In [ ]:
import numpy as np
train_labels = train_labels.apply(fill_targets, axis=1)
train_labels.head()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

target_counts = train_labels.drop(["Id", "Target"],axis=1).sum(axis=0).sort_values(ascending=False)
plt.figure(figsize=(15,15))
sns.barplot(y=target_counts.index.values, x=target_counts.values, order=target_counts.index)

In [ ]:
target_counts